body{
    background-color: aqua;
}
#pageContent{
    margin: 4% 0%;
    padding:20px;
    background-color: orange;
}

#profileDiv{
    float: left;
    text-align: center;
}
#profileDiv img{
    height: 200px;
    width: 200px;
}



#myProjectsDiv{
    align-content: center;
    text-align: center;
    background-color: red;
}