body{
    background-color: aqua;
}
#pageContent{
    margin: 4% 0%;
    padding:20px;
    background-color: orange;
}
#profileDiv{
    float: left;
    margin: 0px 25px 0px 0px;
}
#profileDiv img{
    height: 200px;
    width: 200px;
}
p{
    font-size: 20px;
}
h2{
    font-style: bold;
    font-size: 35px;
}

.contentDiv{
    display: inline-block;
    margin-bottom: 20px;
}

@media (max-width: 550px) {
    body{
        background-color: orange;
    }
    #pageContent{
        text-align: center;
    }
    #profileDiv{
        width: 100%;
    }
}